* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#audio-control-button {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 0 10px 0 #c9d2d9;
    background: rgb(237, 228, 252) url("./play.png");
    background-size: cover;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 0 10px 2px #c9d2d9;
    }
}

#audio-control-button input {
    display: none
}
